body {
    background-image: url("http://octoraypfi.co.uk/images/background1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-size: 100% 500%;
}

img.banner {
    width: 100%;
    height: 100px;
}