body {
    background-image: url("http://octoraypfi.co.uk/images/background1.jpg");
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-color: #f8f8f8;
    /*background-size: cover;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;          /* optionally, center the image */
}
