body {
    background-image: url("http://octoraypfi.co.uk/images/background1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-size: 100% 170%;
    margin: 0px;
}

img.banner {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}


.slicknav_menu {
    display:none;
}

@media screen and (max-width: 90em) {
    /* #menu is the original menu */
    .js #menu {
        display:none;
    }

    .js .slicknav_menu {
        display:block;
    }
}