.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 30px; */
    padding-bottom: 10px;
    display: inline;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 30px; */
    padding-bottom: 10px;
    display: inline;
}



.boba {
    color: #000000;

}

body {
    text-align: center;
}

.dave {
    padding-top: 20px;
}

.question {
    padding-bottom: 30px;
}

img.banner {
    /* text-align: center; */
    /* align-content: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.btn2 {
    background: #4fd934;
    background-image: -webkit-linear-gradient(top, #4fd934, #077a0b);
    background-image: -moz-linear-gradient(top, #4fd934, #077a0b);
    background-image: -ms-linear-gradient(top, #4fd934, #077a0b);
    background-image: -o-linear-gradient(top, #4fd934, #077a0b);
    background-image: linear-gradient(to bottom, #4fd934, #077a0b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 30%;
    margin-right: 30%;
    width: 30%;

}
